


*{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
html{
    overflow-y: scroll;
   overflow-x: hidden;

}
:root{
   overflow-y: scroll; 
   overflow-x: hidden;
}

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
}

h3{
    font-weight: 900;
    font-size: 35px;
}

.navbar{
    position: absolute;
    z-index: 2;
    width: 100vw;
    background-color: #eee;
    #nav-links{
        display: flex;
        justify-content: center;
        align-content: end;
        font-size: 20px;
        font-weight: 700;
    }
}
    #banner{
        width: 100%;
        height: 50vw;
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
            position: absolute;
            .swiper-slide {
                position: relative;
                text-align: center;
                font-size: 18px;
                background: #fff;
      
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                & img{
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter:brightness(1);
                }
                .swiper-text{
                    position: absolute;
                    left: 45%;
                    z-index: 2;
                    margin-right: 15px;
                    h2{
                        color: #000;
                        font-family: 'Permanent Marker', cursive;
                        font-size: 70px;
                    }
                    p{  
                        font-size: 20px;
                        padding: 5px;
                        color: #fff;
                        background-color: #000;
                        border-radius: 50px;
                    }
                }
                
            }
            .swiper-button-next{
                margin-right: 20px;
            }
            .swiper-button-prev{
                margin-left: 5px;
            }
        }
    
    
    }
    #introduce{
        .container-fluid.w-75{
            .row{
                justify-content: center;
                .avatar{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: 50px;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-image: url("./img/a-1.JPG");
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 10px 10px 35px 0px rgba(0,0,0,.5);
                }
                h2{
                    font-weight: 900;
                }
               
            }
            .row.p-3{
                .my-img{
                    width: 20vw;
                    height: 20vw;
                    background-color: #fa0;
                    border-radius: 50%;
                }
            }
        }
    }
    #skill{
        display: flex;
        background-color: #e9e9efee;
        padding-bottom: 50px;
        .container-fluid{
            width: 75vw;
            
            .row{
                justify-content: center;
                .skill-tag{
                    min-width: 576px;
                    font-size: 24px;
                    color: #666;
                    span{
                        position: relative;
                        font-weight: 700;
                        font-family: 'Bebas Neue', cursive;
                        cursor: pointer;
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 0%;
                            height: 5px;
                            background-color: #fa0;
                            transition: .5s;
                            
                        }
                        &:hover::after{
                            width: 100%;
                        }
                        &.active::after{
                            background-color: #f00;
                            width: 100%;
                        }
                    }
                }
                .col-6.col-lg-4.mt-5{
                    .mycard{
                        background-color: #fff;
                        border-radius: 20px;
                        list-style-type: none;
                        padding-bottom: 15px;
                        opacity: 0;
                        display: none;
                        transition: 1s;
                        box-shadow: 8px 8px 5px 5px rgba(0,0,0,.8);
                        &.active{
                            opacity: 1;
                            display: block;
                            animation: showAnimate 1s linear  1 ;
                            @keyframes showAnimate {
                                0%{
                                    opacity: 0;
                                }
                                100%{
                                    opacity: 1;
                                }
                            }
                        }
                        li{
                            font-size: .8rem;
                        }
                        .img.mx-auto{
                            width: 80px;
                            height: 80px;
                            
                            border-radius: 50%;
                            margin: 0 auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                font-size: 50px;
                                &.fa-html5{
                                    color: #244ADD;
                                }
                                &.fa-css3-alt{
                                    color: #ee7125;
                                }
                                &.fa-js{
                                    color: rgb(255, 251, 0);
                                   
                                }
                                &.fa-bootstrap{
                                    color: #9665cc;
                                }
                                 &.fa-laravel{
                                    color:  #E8392C ;
                                }
                                &.fa-github{
                                    color: #000;
                                }
                               
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width:765px) {
            .container-fluid{
                width: 100vw;
            }
        }
    }
    
    #portfolio{
        margin-top: 50px;
        .container.w-75{
            .row{
                .col-12.col-md-6.col-xl-4{
                    .card{
                        margin-bottom: 15px;
                        .portfolio-img{
                            width: 100%;
                            height: 170px;
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            &.img-1{
                                background-image: url(/img/portfolio-1.png);
                            }
                            &.img-2{
                                background-image: url(/img/portfolio-2.png);
                            }
                            &.img-3{
                                background-image: url(/img/portfolio-3.png);
                            }
                            &.img-4{
                                background-image: url(/img/portfolio-4.png);
                            }
                        }
                    }
                }
            }
        }
    }
   
    #contact{
        position: relative;
        .background{
            width: 100%;
            height: 750px;

            background-image: url("https://picsum.photos/id/685/1800/1200");
            background-repeat: no-repeat;
            background-attachment: fixed;
            filter:drop-shadow(5);
        }
        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translate(-50% ,-50%);
            h5{

                font-weight: 700;
            }
            .card.feedback.py-3{
                
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: rgba(87, 87, 87, 0.7);
                margin-right: 50px;
                form{
                    font-weight: 700;
                    #submit{
                        display: none;
                    }
                }
            }
        }
    }

    footer{
        .container-full{
            background-color: #999;
            
            .footer-links{
                display: flex;
                justify-content: center;
                align-items: center; 
                position: relative;
                a{
                    margin: 15px;
                    font-size: 39px;
                    line-height: 40px;
                    color: #000;
                    text-decoration: none;
                    &:nth-child(2){
                        svg{
                            transform: translateY(-4px);
                        }
                    }
                    &:last-child{
                        position: absolute;
                        right: 15px;
                    }
                }
            }
        }

    }
