*{
    box-sizing: border-box;
}
body{
    background-image: url("https://picsum.photos/id/132/1920/1920");
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.699);
}
.loading.none{
    display: none;
}

.info{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}
.map{
    position: fixed;
    top: 0;
    right: -30px;
    display: flex;
    justify-content: center;
    width: 50vw;
    min-height: 100vh;
}



svg{
    height: 100vh;
}
.cls-1 {
    fill: #29aae2;
    stroke: #000 ;
}

.cls-2,
.cls-3 {
    fill: #22b573;
    stroke: #333;
}

.cls-3 {
    stroke-miterlimit: 10;
}

.cls-3:hover {
    fill: #fa0;
    stroke: #000;
    transform: translateY(-3px);
}
#ph:hover .cls-2{
    fill: #fa0;
    stroke: #000;
    transform: translateY(-3px);
}
#cm:hover .cls-2{
    fill: #fa0;
    stroke: #000;
    transform: translateY(-3px);
}
#lc:hover .cls-2{
    fill: #fa0;
    stroke: #000;
    transform: translateY(-3px);
}

button{
    display: block;
    background-color: rgba(99, 99, 99, 0.897);
    color: rgb(0, 0, 0);
    width: 200px;
    height: calc(100vh / 7);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 900;
}
button:hover{
    color: #fff;
    background-color: #fa0;
}
#show-btn{
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 20;
}
#return-btn{
    position: absolute;
    top: 0;
    left: 0;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.card{
    display: none;
    width: calc(50vw /5);
    height: 260px;
    margin: 10px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0,0,0,.2),
                3px 12px 25px rgba(0,0,0,.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card.active{
    display: block;
}

.card-img{
    position: relative;
    width: 100%;
    height: 30%;
    text-align: center;
    transition: .5s;
}
.card-info{
    position: relative;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.398);
}
.card-info h3{
    color: #333;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    margin: 10px 0;
    transition: .5s;
}
.card-info h4{
    margin: 15px 0;
    text-align: center;
}

/* .card:hover{
    height: 450px;
} */
.card:hover h3{
    color: #fff;
    background-color: #000;
}
.card:hover h4 span{
    font-size: 30px;
    color: #333;
}
.card:hover .card-img{
    transform: translateY(15px)scale(1.5);
}



:root {
    --color_white: rgb(243, 243, 243);
    --color_yellow: #FFD633;
    --color_black: #333;
    --color_blue_start: #173259;
    --color_blue_end: #92d2f5;
    --color_rain: #4DACFF;
    --color_white_cloud: rgb(242, 249, 254);
    --color_grey_cloud: #ccc;
}
.sunny {
    width: 150px;
    height: 150px;
    fill: rgba(255, 214, 51, 1);
    
}
.sunny-1{
    transform:translate(70%,-30%)rotate(45deg);
    fill: rgba(255, 214, 51, 1);
    background-color: rgba(255, 214, 51, 1);
}
#sun {
    fill: rgb(255, 214, 51, 1);
    stroke: rgba(255, 51, 51, 0.5);
}
.cloudy_sunny {
    width: 150px;
    height: 150px;
}
.cloudy_sunny rect{
    fill: rgb(255, 214, 51, 1);
}
.cloudy {
    width: 150px;
    height: 150px;
}
#cloud {
    fill: rgb(250, 248, 248);
}
#cloud2 {
    fill: rgb(199, 228, 247);
}
.overcast {
    width: 150px;
    height: 150px;
}
#overcast_cloud {
    fill: rgb(209, 209, 209);
}
#overcast_cloud2 {
    fill: rgb(150, 146, 146);
}
.rainy {
    width: 150px;
    height: 150px;
}
.rainy_thunder{
    width: 150px;
    height: 150px;
}
#rain {
    fill: #4DACFF;
}
#thunder{
    fill: rgba(255, 214, 51, 1);
    stroke:rgba(255, 214, 51, 1);
    stroke-width: 1;
}

