*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.side-bar{
    width: 366px;
    height: 100vh;
    padding-top: 75px;
    background-color: #ffbb66;
    border: solid 10px #ff9;
    float: left;
}
.logo{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: solid 2px #fa0;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    background-image: url(./img/logo-2.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.menu{
    margin:60px 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.menu-item{
    margin-bottom: 20px;
    font-size: 24px;
}
.menu-item a{
    padding: 10px;
    text-decoration: none;
    color:#000;
    border:solid 2px orangered;
    border-radius: 5px;
}
.menu-item a:hover{
    background-color: #fa0;
    color: #fff;
}
.menu-item:last-child{
    margin-bottom: 0;
}
.container{
    position: relative;
    width: calc(100% - 366px);
    height: 100vh;
    float: left;
    background-color: rgb(250, 228, 217);
}
.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 956px;
    height: 570px;
}
.box{
    position: relative;
    width: calc(33.33% - 4px);
    height: 100%;
    float: left;
    background-color: #fff;
    border: solid 4px #f8c;
    margin-right: 6px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s;
}
.box:hover{
    border: double 10px #00ddaa;
    transition: .4s;
}
.box h6{
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    transition: .1s;
}
.box:hover h6{
    color: transparent;
    transition: .2s;
}
.box h5{
    color: transparent;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 60PX;
    transition: .5s;
}
.box:hover h5{
    color: #000;
    transition: .2s;
}
#box-1{
    background-image: url(./img/魷魚-2.jpg);
}
#box-1:hover{
    background-image: url(./img/魷魚-1.jpg);
}
#box-2{
    background-image: url(./img/花枝-2.jpg);
}
#box-2:hover{
    background-image: url(./img/花枝-1.jpg);
}
#box-3{
    background-image: url(./img/中卷-2.jpg);
}
#box-3:hover{
    background-image: url(./img/中卷-1.jpg);
}
.box:last-child{
    margin-right: 0;
}
@media screen and (max-width:1324px) {
    .wrap{
        width: 800px;
        height: 550px;
    }
    .box:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .box{
        width: calc(50% - 5px);
        height: 275px;
        margin-right: 10px;
    }
    .box h6{
        bottom: 2px;
        font-size: 35px;
    }
}
@media screen and (max-width:1172px) {
    .side-bar{
        position: relative;
        width: 100%;
        height: 100px;
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;
        line-height: 80px;
        float: left;
    }
    .menu{
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
        margin:0;
        padding: 0;
    }
    .menu-item{
        display: inline-block;
        margin-right: 40px;
        font-size: 24px;
        margin-bottom: 0;
    }
    .menu-item:last-child{
        margin-right: 0;
    }
    .container{
        width: 100%;
        height: calc(100vh - 100px);
    }
    .wrap{
        top: 14px;
        transform: translateX(-50%);
        width:calc(100% - 68px);
        height: 810px;
    }
    .box:first-child{
        width: 100%;
        margin-bottom: 10px;
    }
    .box{
        width: calc(50% - 5px);
        height: 400px;
        margin-right: 10px;
    }
    .box h6{
        bottom: 0;
    }
}
@media screen and (max-width:768px) {
    .side-bar{
        position: relative;
        width: 100%;
        height: 80px;
        float: left;
    }
    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 55px;
        height: 55px;
        background-color: #333;
        color: #fff;
        font-size: 17px;
        text-align: center;
        line-height: 55px;
        float: left;
    }
    .cell-phone{
        width: 40px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        margin:1px;
        padding: 0;
        background-color: #ff9;
        border-radius: 10px;
    }
    .cell-phone::after{
        content: "";
        z-index: -1;
        position: absolute;
        top: 7.5px;
        left: 5px;
        width: 30px;
        height: 5px;
        background-color: #fb6;
        border-radius: 10px;
        box-shadow: 0 10px 0 0 #fb6,
                    0 20px 0 0 #fb6,
                    0 30px 0 0 #fb6;
    }
    .menu{
        display: none;
        position: absolute;
        left: 0;
        top: 100px;
        width: 150px;
        height: 210px;
        background-color: #ff9;
        border: solid 1px #000;
        border-radius: 10px;
    }
    .menu-item{
        display: block;
        margin: 0;
        line-height: 70px;
        border-bottom: solid 1px #000;
    }
    .menu-item:last-child{
        border: none;
    }
    .cell-phone:hover{
        border: solid 1px #000;
    }
    .cell-phone:hover .menu{
        display: block;
    }
    .container{
        position: relative;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: -1;
    }
    .wrap{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width:100%;
        height: 100%;
    }
    .box:first-child{
        margin-bottom: 0;
    }
    .box{
        width:100%;
        height:calc(100% / 3) ;
        margin: 0px;
    }
}