


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-width: 765px;
    min-height: 760px;
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
.start{
    width: 100px;
    height: 100px;
    background-color: rgba(109, 106, 101, 0.863);
    color: #fff;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
.score{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(109, 106, 101, 0.863);
    color: #fff;
    border-radius: 10px;
}
.container{
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    width: 520px;
    height: 520px;
    background-color: #ddd;
    border-radius: 10px;
}
.box{
    border: 5px solid #ddd;
    border-radius: 10px;
}
.time{
    display: none;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100px;
    height: 30px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(109, 106, 101, 0.863);
    border-radius: 10px;
}
.level{
    display: none;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100px;
    background-color: rgba(109, 106, 101, 0.863);
    border-radius: 10px;
    text-align: center;
}
.level h3{
    color: #fff;
    font-size: 24px;
    line-height: 50px;
}
.note{
    margin-top:100px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}