$font-gray:#666;

%title-h3{
    font-size: 28px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: #fa0;
        width: 40%;
        height: 4px;
        border-radius: 10px;
    }
}