@import "variables";
@import "mixin";




*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

section{
    margin-bottom: 86px;
}
.container{
    margin-bottom: 50px;
}

    .container-fluid.w-75{
        .row{
            .col.mt-5{
                .mycard{
                    // @include card-size(100px,200px,10px)
                    .img{
                        width: 80px;
                        height: 80px;
                        color: rgba(99,102,241,1);
                        background-color: rgba(224,231,255,1);
                        border-radius: 50%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    }
                    .img svg{
                        width: 40px;
                        height: 40px
                    }
                    a{
                        color: rgba(99,102,241,0);
                    }
                }
            }
        }
    }
    #service{
        .container-fluid.w-75.mt-5{
            .row.mt-5.mb-5{
                .col-4{
                    .title-h3{
                        @extend %title-h3
                        }
                    }
                }
            }
    }

    #product{
        .card-comment{
            .five-star{
                .star{
                    width: 15px;
                    height: 15px;
                }
            }
        }



        .color-label{
            margin: 0 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #333;
            cursor: pointer;
            .color-radio{
                opacity: 0;
            }
        }
    }
    #map{
        position: relative;
        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translate(-50% ,-50%);
            .feedback{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }


