footer{
    .cls-1 {
        fill: #162446;
    }
    .cls-2 {
        fill: #fff;
    }
    .container{
        .row{
            .col-10{
                .row{
                    .col{
                        .footer-link{
                            p{
                                color: #fa0;
                            }
                            .links{
                                a{
                                    color: #333;
                                    padding-left: 0;
                                    transition: .5s;
                                }
                                a:hover{
                                    background-color: #333;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
    #footer-logo-title{
        font-size: 1.25rem;
        line-height: 40px;
        margin: 0;
    }
    .footer-icon{
        color: rgba(107,114,128,0);
    }
}

