* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

:root {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  position: relative;
}

h3 {
  font-weight: 900;
  font-size: 35px;
}

.navbar {
  position: absolute;
  z-index: 2;
  width: 100vw;
  background-color: #eee;
}

.navbar #nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: end;
  font-size: 20px;
  font-weight: 700;
}

#banner {
  width: 100%;
  height: 50vw;
  position: relative;
}

#banner .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

#banner .swiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#banner .swiper .swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

#banner .swiper .swiper-slide .swiper-text {
  position: absolute;
  left: 45%;
  z-index: 2;
  margin-right: 15px;
}

#banner .swiper .swiper-slide .swiper-text h2 {
  color: #000;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
}

#banner .swiper .swiper-slide .swiper-text p {
  font-size: 20px;
  padding: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 50px;
}

#banner .swiper .swiper-button-next {
  margin-right: 20px;
}

#banner .swiper .swiper-button-prev {
  margin-left: 5px;
}

#introduce .container-fluid.w-75 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduce .container-fluid.w-75 .row .avatar {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("./img/a-1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.5);
}

#introduce .container-fluid.w-75 .row h2 {
  font-weight: 900;
}

#introduce .container-fluid.w-75 .row.p-3 .my-img {
  width: 20vw;
  height: 20vw;
  background-color: #fa0;
  border-radius: 50%;
}

#skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e9efee;
  padding-bottom: 50px;
}

#skill .container-fluid {
  width: 75vw;
}

#skill .container-fluid .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skill .container-fluid .row .skill-tag {
  min-width: 576px;
  font-size: 24px;
  color: #666;
}

#skill .container-fluid .row .skill-tag span {
  position: relative;
  font-weight: 700;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}

#skill .container-fluid .row .skill-tag span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 5px;
  background-color: #fa0;
  -webkit-transition: .5s;
  transition: .5s;
}

#skill .container-fluid .row .skill-tag span:hover::after {
  width: 100%;
}

#skill .container-fluid .row .skill-tag span.active::after {
  background-color: #f00;
  width: 100%;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard {
  background-color: #fff;
  border-radius: 20px;
  list-style-type: none;
  padding-bottom: 15px;
  opacity: 0;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 8px 8px 5px 5px rgba(0, 0, 0, 0.8);
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard.active {
  opacity: 1;
  display: block;
  -webkit-animation: showAnimate 1s linear  1;
          animation: showAnimate 1s linear  1;
}

@-webkit-keyframes showAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard li {
  font-size: .8rem;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i {
  font-size: 50px;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-html5 {
  color: #244ADD;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-css3-alt {
  color: #ee7125;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-js {
  color: #fffb00;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-bootstrap {
  color: #9665cc;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-laravel {
  color: #E8392C;
}

#skill .container-fluid .row .col-6.col-lg-4.mt-5 .mycard .img.mx-auto i.fa-github {
  color: #000;
}

@media screen and (max-width: 765px) {
  #skill .container-fluid {
    width: 100vw;
  }
}

#portfolio {
  margin-top: 50px;
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card {
  margin-bottom: 15px;
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card .portfolio-img {
  width: 100%;
  height: 170px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card .portfolio-img.img-1 {
  background-image: url(/img/portfolio-1.png);
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card .portfolio-img.img-2 {
  background-image: url(/img/portfolio-2.png);
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card .portfolio-img.img-3 {
  background-image: url(/img/portfolio-3.png);
}

#portfolio .container.w-75 .row .col-12.col-md-6.col-xl-4 .card .portfolio-img.img-4 {
  background-image: url(/img/portfolio-4.png);
}

#contact {
  position: relative;
}

#contact .background {
  width: 100%;
  height: 750px;
  background-image: url("https://picsum.photos/id/685/1800/1200");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: drop-shadow(5);
          filter: drop-shadow(5);
}

#contact .container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#contact .container h5 {
  font-weight: 700;
}

#contact .container .card.feedback.py-3 {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(87, 87, 87, 0.7);
  margin-right: 50px;
}

#contact .container .card.feedback.py-3 form {
  font-weight: 700;
}

#contact .container .card.feedback.py-3 form #submit {
  display: none;
}

footer .container-full {
  background-color: #999;
}

footer .container-full .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .container-full .footer-links a {
  margin: 15px;
  font-size: 39px;
  line-height: 40px;
  color: #000;
  text-decoration: none;
}

footer .container-full .footer-links a:nth-child(2) svg {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

footer .container-full .footer-links a:last-child {
  position: absolute;
  right: 15px;
}
