<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>簡易covid-19資訊</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='anonymous'/>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            display: grid;
            grid-template-areas:
                'item1 item2 item3'
                'item4 item5 item6';
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .item {
           
            padding: 40px;
            font-size: 35px;
            text-align: center;
            color: #000;
            transition: .3s;
        }

        .item:hover {
            box-shadow: 3px 3px 3px 5px #aaa;
            transform: translateY(5px);
        }

        .item1 {
            background-color: #fa0;
        }

        .item2 {
            background-color: #af0;
        }

        .item3 {
            background-color: #0fa;
        }

        .item4 {
            background-color: #0af;
        }

        .item5 {
            background-color: #f0a;
        }

        .item6 {
            background-color: #a0f;
        }

        i,
        p,
        span {
            display: inline;
            margin: 20px 0;
        }

        img {
            display: block;
            margin: auto;
        }

        @media(max-width:960px) {
            .container {
                display: grid;
                grid-template-areas:
                    'item1'
                    'item2'
                    'item3'
                    'item4'
                    'item5'
                    'item6';
                grid-column-gap: 10px;
                grid-row-gap: 10px;
            }
        }
    </style>
    <style>
        #map {
            height: 100vh;
        }
        .home {
            position: relative;
        }
        .highlight {
            background: #e9ffe3;
        }
        .toolbox {
            height: 100vh;
            overflow-y: auto;
        }
        .toolbox a {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="item item1">
            <h3>簡易COVID-19資訊網</h3>
            <select id="mySelect" class="dropdown" onchange="countrySelect()">
                <option value="">請選擇</option>
                <option value="Taiwan">台灣</option>
                <option value="USA">美國</option>
                <option value="Japan">日本</option>
            </select>
        </div>
        <div class="item item2">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <p>今日確診:</p>
            <span id="today"></span>
        </div>
        <div class="item item3">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <p>新增死亡:</p>
            <span id="pass"></span>
        </div>
        <div class="item item4">
            <span id="country"></span>
            <img src="" id="flag">
            <p style="font-size:20px;" id="currentDate"></p>
        </div>
        <div class="item item5">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <p>總各案數:</p>
            <span id="total"></span>
        </div>
        <div class="item item6">
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            <p>總死亡數:</p>
            <span id="all"></span>
        </div>
    </div>

    <div id="app">
        <div class="home row no-gutters">
            <div class="col-sm-3">
              <div v-if="cityName.length" class="toolbox">
                <div class="sticky-top bg-white shadow-sm p-2">
                  <div class="form-group d-flex">
                    <label for="cityName" class="mr-2 col-form-label text-right">縣市</label>
                    <div class="flex-fill">
                      <select id="cityName" class="form-control"
                      v-model="select.city" @change="select.area = ''">
                        <option value="">-- Select One --</option>
                        <option :value="c.CityName" v-for="c in cityName" :key="c.CityName">
                          {{ c.CityName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group d-flex">
                    <label for="area" class="mr-2 col-form-label text-right">地區</label>
                    <div class="flex-fill">
                      <select id="area" class="form-control" v-if="select.city.length"
                        v-model="select.area" @change="updateSelect">
                        <option value="">-- Select One --</option>
                        <option :value="a.AreaName"
                          v-for="a in cityName.find((city) => city.CityName === select.city).AreaList"
                          :key="a.AreaName">
                          {{ a.AreaName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <p class="mb-0 small text-muted text-right">請先選擇區域查看（綠色表示還有口罩）</p>
                </div>
        
                <ul class="list-group">
                  <template v-for="(item, key) in data">
                    <a class="list-group-item text-left" :key="key"
                      v-if="item.properties.county === select.city
                        && item.properties.town === select.area"
                      :class="{ 'highlight': item.properties.mask_adult || item.properties.mask_child}"
                      @click="penTo(item)">
                      <h3>{{ item.properties.name }}</h3>
                      <p class="mb-0">
                        成人口罩：{{ item.properties.mask_adult}} | 兒童口罩：{{ item.properties.mask_child}}
                      </p>
                      <p class="mb-0">地址：<a :href="`https://www.google.com.tw/maps/place/${item.properties.address}`"
                        target="_blank" title="Google Map">
                        {{ item.properties.address }}</a>
                      </p>
                    </a>
                  </template>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div id="map"></div>
            </div>
          </div>
    </div>

    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='anonymous'></script>

    <script>
        function countrySelect() {
            var c = document.getElementById("mySelect").value;

            var link = "https://corona.lmao.ninja/v2/countries/" + c;

            fetch(link)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                var total = parseFloat(data.cases);
                var pass = parseFloat(data.deaths);

                document.getElementById("country").innerHTML = data.country;
                document.getElementById("today").innerHTML = data.todayCases.toLocaleString();
                document.getElementById("pass").innerHTML = data.todayDeaths.toLocaleString();
                document.getElementById("total").innerHTML = total.toLocaleString();
                document.getElementById("all").innerHTML = pass.toLocaleString();
                document.getElementById("flag").src = data.countryInfo.flag;
            });
            var time = new Date();

            document.getElementById("currentDate").innerHTML = time;
        };




        // import cityName from './src/cityName.json';

        let osmMap = {};
        const iconsConfig = {
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41],
        };
        const icons = {
        green: new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            ...iconsConfig,
        }),
        grey: new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-grey.png',
            ...iconsConfig,
        }),
        };
        const osm = {
            addMapMarker(x, y, item) {
                const icon = item.mask_adult || item.mask_child ? icons.green : icons.grey;
                L.marker([y, x], {
                icon,
                }).addTo(osmMap).bindPopup(`<strong>${item.name}</strong> <br>
                口罩剩餘：<strong>成人 - ${item.mask_adult ? `${item.mask_adult} 個` : '未取得資料'}/ 兒童 - ${item.mask_child ? `${item.mask_child} 個` : '未取得資料'}</strong><br>
                地址: <a href="https://www.google.com.tw/maps/place/${item.address}" target="_blank">${item.address}</a><br>
                電話: ${item.phone}<br>
                <small>最後更新時間: ${item.updated}</small>`);
            },
            removeMapMarker() {
                osmMap.eachLayer((layer) => {
                if (layer instanceof L.Marker) {
                    osmMap.removeLayer(layer);
                }
                });
            },
            penTo(x, y, item) {
                const icon = item.mask_adult || item.mask_child ? icons.green : icons.grey;
                osmMap.panTo(new L.LatLng(y, x));
                L.marker([y, x], {
                icon,
                }).addTo(osmMap).bindPopup(`<strong>${item.name}</strong> <br>
                口罩剩餘：<strong>成人 - ${item.mask_adult ? `${item.mask_adult} 個` : '未取得資料'}/ 兒童 - ${item.mask_child ? `${item.mask_child} 個` : '未取得資料'}</strong><br>
                地址: <a href="https://www.google.com.tw/maps/place/${item.address}" target="_blank">${item.address}</a><br>
                電話: ${item.phone}<br>
                <small>最後更新時間: ${item.updated}</small>`).openPopup();
            },
        };

        const vm = Vue.createApp({
            data () {
                return {
                    data :[],
                    osmMap:{},
                    // cityName,
                    selecet:{
                        city:'台中市',
                        area:'西屯區',
                    }
                }
            },
            methods: {
                updateMarker() {
                const pharmacies = this.data.filter((pharmacy) => {
                    if (!this.select.area) {
                    return pharmacy.properties.county === this.select.city;
                    }
                    return pharmacy.properties.town === this.select.area;
                });
                pharmacies.forEach((pharmacy) => {
                    const { properties, geometry } = pharmacy;
                    osm.addMapMarker(
                    geometry.coordinates[0],
                    geometry.coordinates[1],
                    properties,
                    );
                });
                this.penTo(pharmacies[0]);
                },
                removeMarker() {
                osm.removeMapMarker();
                },
                penTo(pharmacy) {
                const { properties, geometry } = pharmacy;
                osm.penTo(geometry.coordinates[0], geometry.coordinates[1], properties);
                },
                updateSelect() {
                this.removeMarker();
                this.updateMarker();
                const pharmacy = this.data.find(item => item.properties.town === this.select.area);
                const { geometry, properties } = pharmacy;
                osm.penTo(geometry.coordinates[0], geometry.coordinates[1], properties);
                },
            },
            mounted() {
                // OSM
                osmMap = L.map('map', {
                center: [25.03, 121.55],
                zoom: 15,
                });
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '<a target="_blank" href="https://www.openstreetmap.org/">© OpenStreetMap 貢獻者</a>',
                maxZoom: 18,
                }).addTo(osmMap);
                this.$http.get('https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json')
                .then((res) => {
                    this.data = res.data.features;
                    this.updateMarker();
                });
            },
        });
        
        vm.mount('#app');
    </script>

</body>

</html>